body {
  background: #5BA698;
  color: white;
}

hr {
  border-color: #F2D5C4;
  border-style: dashed;
}

.content {
  max-width: 800px;
  margin: auto;
  padding: 8px;
  text-align: center;
}

p {
  padding: 1px;
  
}

/*pseudo tag/
/* unvisited link */
a:link {
  color: #014034;
}

/* visited link */
a:visited {
  color: #014034;
}

/* mouse over link */
a:hover {
  color: #014034;
}
