/* main css starts */
/* color: light #5BA698; dark #014034*/
a:link {
  color: #014034;
}

/* visited link */
a:visited {
  color: #014034;
}

/* mouse over link */
a:hover {
  color: #014034;
}

/* main body link */
.a-main:link {
  color: #014034;
}

.a-main:visited {
  color: #014034;
}

.a-main:hover {
  color: #e07619;
}

/* footer link */
.a-footer:link {
  color: #014034;
}

.a-footer:hover {
  color: white;
}

/* end */

body {
  background: white;
  font-family: "Montserrat";
  font-display: swap;
}

b {
  font-size: 1.2em;
}

h1 {
  color: azure;
  text-align: center;
  margin-top: 5px;
}

h2 {
  color: #16a085;
  font-family: "Lora";
  font-size: 1.8em;
  font-display: swap;
}

h3 {
  font-size: 1.4em;
  font-family: "Lora";
  color: grey;
  font-display: swap;
}

.h3-pub {
  margin-top: 10px;
  font-size: 1.3em;
}

hr {
  border-color: #808080;
  border-style: dashed solid;
  border-width: 1px;
}

.project {
  text-align: left;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.navbar {
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
  /* background-color: rgba(22, 160, 133, 0.7); */
  letter-spacing: 2px;
}

#navbar-landing {
  background-color: transparent;
  background-image: none;
}
/* hr override ends */
p {
  padding: 0px;
  margin: 0;
  display: block;
  text-align: center;
  color: #808080;
  font-size: 1em;
}

/* for publication marging */
.pub {
  margin-top: 10px;
  font-size: 0.9em;
}

strong {
  font-size: 1.2em;
  color: #16a085;
}

em {
  font-style: normal;
  font-size: 1.2em;
}

/* top */
header {
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
}

.landing-page {
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-logo {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  color: azure;
}

.btn-success {
  outline-color: #014034;
  color: white;
}

.btn:hover {
  background-color: #f4d03f;
  color: white;
}

.landing-text {
  color: azure;
  font-size: 1.2em;
  margin-top: 10px;
}

svg {
  margin: 0px 20px 20px 0px;
}

.top {
  height: 100px;
}

ul.grey {
  margin-left: 0;
  padding-left: 40px;
  list-style-type: circle;
  list-style-position: outside;
  color: #808080;
  font-size: 1em;
}

ol {
  margin-left: 0;
  padding-left: 40px;
  list-style-type: circle;
  list-style-position: outside;
  color: #808080;
  font-size: 1em;
}

/*override color schemes for the other pages*/
#top-proj {
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
}

#top-fwork {
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
}

#top-pub {
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
}

#top-teaching {
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
}

#top-gallery {
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
}

/* top ends */
/* override bootstrap button settings */
.btn {
  margin-top: 5px;
  border: 1px solid grey;
  color: #014034;
}

.btn:link {
  color: #014034;
}

.btn:visited {
  color: #014034;
}

.btn:hover {
  color: white;
}

.sub-content {
  max-width: 800px;
  margin: auto;
  padding: 12px;
  text-align: center;
}

/* footer settings */
.content {
  max-width: 800px;
  margin: auto;
  padding: 15px;
  text-align: center;
}

.footer {
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
  text-align: center;
  margin: auto;
  position: relative;
  width: 100%;
  height: 180px;
  bottom: 0;
  left: 0;
  color: white;
  padding: 0px;
  vertical-align: top;
}

/* override footer color for other pages */
#footer-proj {
  background: #5ba698;
}

#footer-fwork {
  background: #5ba698;
}

#footer-pub {
  background: #5ba698;
}

#footer-teaching {
  background: #5ba698;
}

#footer-gallery {
  background: #5ba698;
}

.center-li {
  text-align: center;
  list-style-type: none;
  padding: 0px;
  margin: 60px 20px 0px 20px;
  padding-left: 0;
  display: inline-block;
  font-size: 0.9em;
}

.footer-ul {
  padding-left: 0px;
}

.bottom-text {
  height: 0;
  margin: 35px 0px 0px 0px;
  padding: 0;
  color: #014034;
  font-size: 0.8em;
}

/* main css ends */
/* footer settings for small devices */
@media screen and (max-width: 991px) {
  .center-li {
    display: list-item;
    margin-top: 5px;
    padding: 5px;
  }

  .landing-page {
    height: auto;
  }

  #navbar-landing {
    background-color: rgba(22, 160, 133, 0.7);
    background-image: none;
  }

  /* 
  .navbar {
    background-color: #f4d03f;
    background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
  } */

  .pub {
    font-size: 0.9em;
  }

  .footer {
    height: 200px;
  }

  .bottom-text {
    margin-top: 0;
  }
}
